<div class="container m-5">
  <h2>
    <%= greeting_for_current_user %>
  </h2>
  <%= link_to 'Add Contact', new_contact_path, class: "btn btn-primary" %>
  <%= link_to 'My Contacts', contacts_path, class: "btn btn-secondary" %>
</div>
