<div class="container mt-4 p-4">
  <div class="card mt-4 p-5">
    <% Contact::DISPLAY_ATTRIBUTES.each do |attribute| %>
      <%= display_contact_attribute(attribute, @contact.send(attribute)) %>
    <% end %>
    <div class="mt-3">
      <%= link_to 'Edit', edit_contact_path(@contact), class: 'btn' %>
      <%= link_to 'Delete', contact_path(@contact), data: { turbo_confirm: 'Are you sure?', turbo_method: :delete }, class: 'btn' %>
    </div>
  </div>
  <%= link_to 'Back', contacts_path, class: 'btn btn-secondary mt-3' %>
</div>
